# Python cache
__pycache__/
*.py[cod]
*.so
.env
venv/
env/

# Dictionary files
*.pkl
*.db
src/dictionary/jmdict_enhanced.db

# Build artifacts
dist/
build/

# IDE folders
.vscode/
.idea/

# Local project/user files
data/
config.ini

/user_dictionaries